.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line__chart{
  padding: 2rem 1rem 2rem;
  background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(79,161,202,0.4) 70%, rgba(143,208,242,0.1) 100%);
}


